.header {
  background-color: white;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: lightgray;
  z-index: 1;
}

.left-section {
  display: flex;
  align-items: center;
}

.middle-section {
  display: flex;
  flex: 1;
  margin-left: 125px;
  margin-right: 100px;
  max-width: 100%;
  align-items: center;
}

.right-section {
  display: flex;
  width: 180px;
  align-items: center;
  justify-content: space-between;
  margin-right: 50px;
  flex-shrink: 0;
}

.hamburger-menu {
  height: 20px;
  margin-left: 24px;
  margin-right: 24px;
  cursor: pointer;
}

.youtube-logo {
  height: 20px;
  cursor: pointer;
}

.search-button {
  height: 40px;
  width: 64px;
  margin-left: -2px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button .tooltip,
.voicesearch-button .tooltip,
.upload-icon-container .tooltip,
.youtubeapps-icon-container .tooltip,
.notifications-icon-container .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voicesearch-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtubeapps-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip {
  opacity: 0.95;
}

.voicesearch-button {
  height: 42px;
  width: 40px;
  border-radius: 20px;
  border: none;
  margin-left: 8px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBox {
  font-size: 15px;
  color: gray;
  font-family: Arial;
  margin-bottom: 10px;
  width: 0px;
  height: 32.5px;
  position: relative;
  margin-left: 34px;
  border: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 2px;
  margin-top: 10px;
  flex: 1;
  padding-left: 5px;
  padding-top: 5px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}

.search-icon {
  height: 25px;
}

.voicesearch-icon {
  width: 24px;
  height: 24px;
}

.upload-icon-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.upload-icon {
  height: 24px;
  cursor: pointer;
}

.youtubeapps-icon-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.youtubeapps-icon {
  height: 24px;
  cursor: pointer;
}

.notifications-icon {
  height: 24px;
  cursor: pointer;
}

.notifications-icon-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notifications-counts {
  position: absolute;
  top: -2px;
  right: -8px;
  background-color: red;
  color: white;
  font-size: 10px;
  padding: 2px;
  border-style: none;
  border-radius: 10px;
  cursor: pointer;

}

.myChannelPic {
  height: 36px;
  border-radius: 18px;
  cursor: pointer;
}
