.video-info p {
  color: black;
}

a, a:hover, a:active, a:visited, a:focus {
  text-decoration: none;
}

.thumbnails {
  cursor: pointer;
  font-size: 10px;
  width: 100%;
}

.video-preview {
  cursor: pointer;
  transition: opacity 0.15s;
}

.video-preview:active {
  /* background-color: rgb(170, 170, 170); */
  opacity: 30%;
}

.videoTitle{
  color: white;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 0;
  width: 100%;
}

.channelName {
  color: rgb(170, 170, 170);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-right: -1.2px;
  padding-right: 1.2px;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 0;
  
}

.views-YearReleased {
  color: rgb(170, 170, 170);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 0;
}

.channelProfile {
  width: 36px;
  border: none;
  border-radius: 100%;
  margin-top: 10px;
}

.youTubeRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 14px;
}

@media (max-width: 1140px) {
  .youTubeRow {
  grid-template-columns: 1fr 1fr 1fr;
    
  }
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}
.video-duration {
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  height: 12px;
  width: 25px;
  bottom: 8px;
  right: 5px;
  background-color: black;
  color: white;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-style: none;
  border-radius: 2px;

}

.thumbnail {
  position: relative;
}